---
import Feed from "../components/Feed.svelte";
const items = [];
---
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>SOMA-MARKET</title>
  </head>
  <body>
    <main>
      <Feed {items} />
    </main>
  </body>
</html>
